
<ul id="sections-sidebar" class="sections-sidebar">
      <li>
        <a href="#">World</a>
        
      </li>
      <li class="dropdown">
        <section>
            <ul>
                <li>lorem ipsum</li>
                <li>Lorem ipsum dolor</li>
            </ul>
        </section>
        <a href="#">San Francisco</a>
      </li>
      
      <li>
      <a href="#">New York</a>
      </li>
      <li class="dropdown">
        <section>
            <ul>
                <li>lorem ipsum</li>
                <li>Lorem ipsum dolor</li>
            </ul>
        </section>
        <a href="#">Bootcamp Prep</a>
      </li>
      <li>
        <a href="#">Jumpstart</a>
      </li>
      <li class="dropdown">
        <section>
            <ul>
                <li>lorem ipsum</li>
                <li>Lorem ipsum dolor</li>
            </ul>
        </section>
        <a href="#">Online</a>
      </li>
      <li>
        <a href="#">Marketing</a>
      </li>
      <li class="dropdown">
        <section>
            <ul>
                <li>lorem ipsum</li>
                <li>Lorem ipsum dolor</li>
            </ul>
        </section>
        <a href="#">Sales</a>
      </li>
      <li>  
        <a href="#">TalentMatch</a>
      </li>
      <li class="dropdown">
        <section >
            <ul>
                <li>lorem ipsum</li>
                <li>Lorem ipsum dolor</li>
            </ul>
        </section>
        <a href="#">Alumni</a>
      </li>
    </ul>



