// Use the gear_dropdown.png screenshot as a style guide
.gear-dropdown { 
  position: absolute;
  top: 30px; 
  right: 10px; 
  background-color: white; 
  border: 1px solid $light-gray; 
  width: 250px; 
  padding: 10px; 
  z-index: 1;
  box-shadow: -1px 4px 6px 1px rgba(0, 0, 0, 0.09);
  font-family: $sans-serif
}

.gear-dropdown li { 
 margin: 7.5px 0;
}

.dropdown-subtitle { 
 text-transform: uppercase;
 color: $dark-gray;
 font-size: 10px; 
 font-weight: bold;
}

.editions { 
  border-bottom: 1px solid $light-gray; 
  text-transform: uppercase;
  color: $gray;
}

.editions li:hover { 
  background-color: $light-gray; 
  color: black;
}

.editions a:hover { 
  border-bottom: 0px; 
}

.help { 
  color: $light-blue; 
}

.help a:hover { 
  border-bottom: 1px solid $light-blue;
}