.main-nav {
  display: flex; 
  justify-content: space-between;
  padding: 15px 0;
  border-bottom: 1px solid $light-gray
}

.left-nav > ul,
.right-nav > ul {
  height: 30px;
  align-items: center;
}

.left-nav > ul > li {
  float: left;
  font-family: $sans-serif; 
  font-size: 13px;
  margin: 0 10px;
  padding: 8px;
}

.right-nav > ul > li {
  float: left;
  margin: 0 2.5px;
}

.right-nav > ul > li:last-of-type {
  padding: 8px;
  position: relative;
}

.left-nav > ul > li:hover,
.right-nav > ul > li:last-of-type:hover {
  background-color: $lightest-gray;
  transition: background-color 0.3s;
  cursor: pointer;
}

.left-nav span {
  text-transform: uppercase;
  font-weight: bold;
  margin-left: 15px; 
}


.right-nav i {
  font-size: 15px; 
}