
.sections-nav { 
  border-bottom: 1px solid $light-gray;
  font-family: $sans-serif; 
}


.sections-nav ul { 
  display: flex;
  justify-content: center
}
.sections-nav li { 
  margin: 10px; 
}

.sections-nav li:hover { 
  background-color: $light-gray; 
}

@media all and (max-width: 1000px) { 
  .sections-nav { 
    display: none; 
  }

}